/*:root {
    --color-primary: #E53E3E;
    --color-secondary: #E5C600;
}*/

@import "tailwindcss/base";
/* img, video - 605 */

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');

@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./components/container.css";
@import "./components/icons.css";
@import "./components/menu.css";
@import "./components/carousel.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";
@import "./animate.css";