/*
    xs: 300
    sm: 576
    md: 768
    lg: 992
    xl:1200
    hd: 1440
    md2: 768 - 1117

    sm-md: 576 - 767
    md-lg: 768 - 991
    lg-xl: 992 - 1199
*/
html,body {
    font-size:14px;
    color: #212221 !important;
}

@media (min-width:420px) {
    html,body {
        font-size:16px;
    }
}

button, focus:button {
    outline: 0 !important;
}