.main-carousel-image {
    padding-bottom: 32.22%;
}

.owl-carousel .owl-nav [class*='owl-'] {
    @apply tw-absolute tw-cursor-pointer tw-p-0 !important;
    top: 50% !important;
    margin-top: -25px !important;
    outline: none !important;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
}

.owl-main .owl-nav .owl-prev {
    left: 26px;
}

.owl-main .owl-nav .owl-next {
    right: 26px;
}

.owl-container-carousel .owl-nav .owl-prev {
    left: -4rem;
}

.owl-container-carousel .owl-nav .owl-next {
    right: -4rem;
}