.container {
    max-width: 100%;
    padding: 0 10px;
    @apply ml-auto mr-auto;
}

@screen sm {
    .container {
        max-width: 540px;
    }
}

@screen md {
    .container {
        max-width: 720px;
        @apply p-0;
    }
}

@screen lg {
    .container {
        max-width: 960px;
    }
}

@screen xl {
    .container {
        max-width: 1140px;
    }
}

@screen hd {
    .container {
        max-width: 1346px;
    }
}