.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.input-icon {
    left: 15px;
    @apply tw-absolute tw-top-1/2 tw--mt-2 tw-block;
}